{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./tools/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": ["transform-runtime"],
  "env":{
    "development":{
      "plugins":[
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "production":{
      "plugins":[
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
