.panelCover {
  background: url(https://congm.in/bing.php) center center no-repeat #666;
  background-size: cover;
}

.panelCoverOverlay {
  background: rgba(61, 66, 96, 0.4) linear-gradient(140deg, rgba(61, 66, 96, 0.4) 15%, rgba(31, 34, 49, 0.6));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.navWrapper{
  position: relative;
  z-index: 101;
}
.navs{
  color: white;
}
.navs a{
  color: white;
  text-decoration: none;
  border-radius: 1em;
  border: white 1px solid;
  padding: .2em 1em;
}
